# Regex Lesson

- What is a regular expression?
- When are regular expressions useful?

In [1]:
import pandas as pd
import re

In [2]:
log_file_lines = '''
76.185.131.226 - - [11/May/2020:14:25:53 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:25:46 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:25:58 +0000] "GET / HTTP/1.1" 200 42 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36"
76.185.131.226 - - [11/May/2020:16:25:58 +0000] "GET /favicon.ico HTTP/1.1" 200 162 "https://python.zach.lol/" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.129 Safari/537.36"
104.5.217.57 - - [11/May/2020:16:26:27 +0000] "GET / HTTP/1.1" 200 42 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:26:46 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:26:54 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
104.5.217.57 - - [11/May/2020:16:27:04 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:27:05 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
76.185.131.226 - - [11/May/2020:16:27:10 +0000] "GET /documentation HTTP/1.1" 200 348 "-" "python-requests/2.23.0"
'''

In [3]:
import re # part of the python stdlib

- search: shows a single match for a regex
- findall: shows *all* the matches for a regex in a subject

### Literals

In [4]:
regexp = r'a'
subject = 'abc'

re.search(regexp, subject)

<div style="background-color: rgba(0, 100, 200, .1); padding: 1em 3em; border-radius: 5px; border: 1px solid black">
    <div style="font-weight: bold; font-size: 1.2em; border-bottom: 1px dashed black; padding-bottom: .5em;">
        Mini Exercise
    </div>
    <ol>
        <li>Change your regular expression to match the literal character "b". What do you notice?</li>
        <li>Change your regular expression to match the literal string "ab". What do you notice?</li>
        <li>Change your regular expression to match the literal "d". What do you notice?</li>
        <li>Use <code>re.findall</code> instead of <code>re.search</code>. How do the results differ?</li>
        <li>Change your regular expression to just the "." character. What are the results?</li>
    </ol>
</div>

In [5]:
# Problem 1
regexp = r'b'
subject = 'abc'

re.search(regexp, subject)

In [6]:
# Problem 2
regexp = r'ab'
subject = 'abc'

re.search(regexp, subject)

In [7]:
# Problem 3
regexp = r'd'
subject = 'abc'

re.search(regexp, subject)

# No output given

In [8]:
# Problem 4
regexp = r'b'
subject = 'abc'

re.findall(regexp, subject)

# Output is just 'b', no extra info given

['b']

In [9]:
# Problem 5
regexp = r'.'
subject = 'abc'

re.search(regexp, subject)

# Doesn't match 'dot' character
# Turns out any character will match that dot

### Metacharacters

- `.`      (will match any character)
- `\w`     (will match any alphanumeric character)
- `\s`     (will match any whitespace)
- `\d`     (will match any digits)
- Captial variants (for the metacharacters listed above)
    - all opposites and nots

In [10]:
regexp = r'\w'
subject = 'abc 123'

re.search(regexp, subject)

<div style="background-color: rgba(0, 100, 200, .1); padding: 1em 3em; border-radius: 5px; border: 1px solid black">
    <div style="font-weight: bold; font-size: 1.2em; border-bottom: 1px dashed black; padding-bottom: .5em;">
        Mini Exercise
    </div>
    <p>Continue to use the same subject variable from above.</p>
    <ol>
        <li>Use all of the above metacharacters with <code>re.findall</code>. What do you notice?</li>
        <li>What does the regular expression <code>\w\w</code> match?</li>
        <li>Use only metacharacters to write a regular expression to match "c 1".</li>
        <li>Use a combination of metacharacters to match 3 digits in a row.</li>
    </ol>
</div>

In [11]:
# Problem 1
regexp = r'.'
subject = 'abc 123'

re.findall(regexp, subject)

['a', 'b', 'c', ' ', '1', '2', '3']

In [12]:
regexp = r'\w'
subject = 'abc 123'

re.findall(regexp, subject)

['a', 'b', 'c', '1', '2', '3']

In [13]:
regexp = r'\s'
subject = 'abc 123'

re.findall(regexp, subject)

[' ']

In [14]:
regexp = r'\d'
subject = 'abc 123'

re.findall(regexp, subject)

['1', '2', '3']

In [15]:
# Problem 2
regexp = r'\w\w'
subject = 'abc 123'

re.search(regexp, subject)

In [16]:
regexp = r'\w\w'
subject = 'abc 123'

re.findall(regexp, subject)

['ab', '12']

In [17]:
# Problem 3
regexp = r'\w\s\d'
subject = 'abc 123'

re.findall(regexp, subject)

['c 1']

In [18]:
# Problem 4
regexp = r'\d\d\d'
subject = 'abc 123'

re.findall(regexp, subject)

['123']

### Repeating

- `{}`
- `*`
- `+`
- `?`
- greedy + non-greedy

In [19]:
regexp = r'\w+'
subject = 'abc 123'

re.search(regexp, subject)

<div style="background-color: rgba(0, 100, 200, .1); padding: 1em 3em; border-radius: 5px; border: 1px solid black">
    <div style="font-weight: bold; font-size: 1.2em; border-bottom: 1px dashed black; padding-bottom: .5em;">
        Mini Exercise
    </div>
    <p>Use the string below as your subject for this exercise.</p>
    <pre><code>Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.</code></pre>
    <ol>
        <li>Write a regular expression that matches all the numbers.</li>
        <li>Write a regular expression that matches a 5 digit number, but not a number with fewer digits.</li>
        <li>Write a regular expression that matches any urls in the subject.</li>
    </ol>
</div>

In [20]:
# Problem 1
regexp = r'\d+'
subject = 'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.'

re.findall(regexp, subject)

['2014', '600', '350', '78230']

In [21]:
# Problem 2
regexp = r'\d{5}'
subject = 'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.'

re.findall(regexp, subject)

['78230']

In [22]:
# Problem 3
regexp = r'(https?)://?(\w+)\.(\w+)\.(\w+)'

subject = 'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.com.'

re.search(regexp, subject)

### Any/None Of

In [23]:
regexp = r'[a1][b2][c3]'
subject = 'abc 123'

re.match(regexp, subject)

In [24]:
subject = '123abc'

re.match(regexp, subject)

<div style="background-color: rgba(0, 100, 200, .1); padding: 1em 3em; border-radius: 5px; border: 1px solid black">
    <div style="font-weight: bold; font-size: 1.2em; border-bottom: 1px dashed black; padding-bottom: .5em;">
        Mini Exercise
    </div>
    <p>For this exercise you should make up various subjects and test them with your regular expressions.</p>
    <ol>
        <li>Write a regular expression that matches even numbers.</li>
        <li>Write a regular expression that matches 2 or more odd numbers in a row.</li>
        <li>Write a regular expression that any word with a vowel in it.</li>
    </ol>
</div>

In [25]:
# Problem 1

regexp = r'\d+[02468]'
subject = 'abc 123'

re.findall(regexp, subject)

['12']

In [26]:
# Problem 2

regexp = r'\d+[13579]'
subject = 'abc 123'

re.findall(regexp, subject)

['123']

In [27]:
# Problem 3

regexp = r'[a-zA-Z]*[aeiou][a-zA-Z]*'
subject = 'abc 123'

re.findall(regexp, subject)

['abc']

### Anchors

- `^` : start with
- `$` : ends with

In [28]:
regexp = r'^b'
subject = 'abc 123'

re.search(regexp, subject)

In [29]:
regexp = r'\d$'
subject = 'abc 123'

re.search(regexp, subject)

<div style="background-color: rgba(0, 100, 200, .1); padding: 1em 3em; border-radius: 5px; border: 1px solid black">
    <div style="font-weight: bold; font-size: 1.2em; border-bottom: 1px dashed black; padding-bottom: .5em;">
        Mini Exercise
    </div>
    <p>For this exercise you should make up various subjects and test them with your regular expressions.</p>
    <ol>
        <li>Write a regular expression that matches if a word starts with a vowel.</li>
        <li>Write a regular expression that matches if a word starts with a capital letter.</li>
        <li>Write a regular expression that matches if a word ends with a capital letter.</li>        
        <li>Write a regular expression that matches if a word starts <b>and</b> ends with a capital letter.</li>
    </ol>
</div>

In [30]:
# Problem 1

regexp = r'^[aeiou]'
subject = 'abc 123'

re.findall(regexp, subject)

['a']

In [31]:
# Problem 2

regexp = r'^[A-Z]'
subject = 'ABC 123'

re.findall(regexp, subject)

['A']

In [32]:
# Problem 3

regexp = r'[A-Z]$'
subject = 'ABC 123'

re.findall(regexp, subject)

[]

In [33]:
# Problem 4

regexp = r'^[A-Z]$'
subject = 'abc 123'

re.findall(regexp, subject)

[]

### Capture Groups

In [34]:
regexp = '.*?(\d+)'
s = pd.Series(['abc', 'abc123', '123'])
s.str.extract(regexp)

     0
0  NaN
1  123
2  123

## `re.sub`

- removing
- substitution

In [35]:
regexp = r'([a-z]+)(\d+)'
subject = 'abc123'

re.sub(regexp, r'\2\1', subject)

'123abc'

<div style="background-color: rgba(0, 100, 200, .1); padding: 1em 3em; border-radius: 5px; border: 1px solid black">
    <div style="font-weight: bold; font-size: 1.2em; border-bottom: 1px dashed black; padding-bottom: .5em;">
        Mini Exercise
    </div>
    <p>Use the code below to get started on this exercise.</p>
    <pre><code>dates = pd.Series(['2020-11-12', '2020-07-13', '2021-01-12'])</code></pre>
    <p>Use regular expression substitution to reformat the dates in the format common in the US: m/d/y.</p>
</div>

In [36]:
dates = pd.Series(['2020-11-12', '2020-07-13', '2021-01-12'])
dates

0    2020-11-12
1    2020-07-13
2    2021-01-12
dtype: object

In [37]:
dates.str.replace(r'(\d+)-(\d+)-(\d+)', r'\2/\3/\1')

0    11/12/2020
1    07/13/2020
2    01/12/2021
dtype: object

In [38]:
subject = '2021-01-12'
regexp = r'(\d{4})-(\d+)-(\d+)'

re.search(regexp, subject).groups()

('2021', '01', '12')

In [39]:
replacement = r'On the \3 day of the \2 month in the year \1'

re.sub(regexp, replacement, subject)

'On the 12 day of the 01 month in the year 2021'

In [40]:
dates.str.replace(regexp, replacement)

0    On the 12 day of the 11 month in the year 2020
1    On the 13 day of the 07 month in the year 2020
2    On the 12 day of the 01 month in the year 2021
dtype: object

In [41]:
regexp = r'(.)(.)(.)'
subject = 'def'

re.search(regexp, subject).groups()

('d', 'e', 'f')

In [42]:
re.sub(regexp, r'\3 and then \2 and then \1', subject)

'f and then e and then d'

In [43]:
s = pd.Series([
    'AMOUNT: $1,234.56',
    'TOTAL : $12.34',
    '$1,000,000 is the price',
])
s.str.replace(r'[^\d\.]', '')

0    1234.56
1      12.34
2    1000000
dtype: object

## Misc

### Pandas Usage

- `.str`
    - `.extract`
    - `.count`
    - `.contains`
    - `.replace`
- extract + concat
- named groups

In [44]:
df = pd.DataFrame()
df['text'] = pd.Series([
    'You should go check out https://regex101.com, it is a great website!',
    'My favorite search engine is https://duckduckgo.com',
    'If you have a question, you can get it answered through http://askjeeves.com, it is great!',
])
df

                                                text
0  You should go check out https://regex101.com, ...
1  My favorite search engine is https://duckduckg...
2  If you have a question, you can get it answere...

In [45]:
matches = df.text.str.extract(r'(https?)://(\w+)\.(\w+)')
matches.columns = ['protocol', 'base_domain', 'tld']
matches

  protocol base_domain  tld
0    https    regex101  com
1    https  duckduckgo  com
2     http   askjeeves  com

In [46]:
pd.concat([df, matches], axis=1)

                                                text protocol base_domain  tld
0  You should go check out https://regex101.com, ...    https    regex101  com
1  My favorite search engine is https://duckduckg...    https  duckduckgo  com
2  If you have a question, you can get it answere...     http   askjeeves  com

In [47]:
df.text.str.extract(r'(https?)://(\w+)\.(\w+)')

       0           1    2
0  https    regex101  com
1  https  duckduckgo  com
2   http   askjeeves  com

### Interactive Regex Tool

To install the `hlre` tool:

```
python -m pip install hlre
```

[For more documentation and the source](https://github.com/zgulde/hlre)

See also [regex101](https://regex101.com) (make sure to select the Python flavor)

### Named capture groups

In [48]:
text = 'You should go check out https://regex101.com, it is a great website!'

match = re.search(r'(?P<protocol>https?)://(?P<base_domain>\w+)\.(?P<tld>\w+)', text)
match.groupdict()

{'protocol': 'https', 'base_domain': 'regex101', 'tld': 'com'}

In [49]:
df.text.str.extract(r'(?P<protocol>https?)://(?P<base_domain>\w+)\.(?P<tld>\w+)')

  protocol base_domain  tld
0    https    regex101  com
1    https  duckduckgo  com
2     http   askjeeves  com

### Verbose regular expressions

- `re.VERBOSE`
- `(?# this is a comment)`

In [50]:
text = 'You should go check out https://regex101.com, it is a great website!'

regexp = r'''
(?P<protocol>https?)
:// (?# ignore the :// that seperates protocol from domain)
(?P<base_domain>\w+)
\.
(?P<tld>\w+)
'''
match = re.search(regexp, text, re.VERBOSE) # whitespace in the regex is ignored
match.groupdict()

{'protocol': 'https', 'base_domain': 'regex101', 'tld': 'com'}